# URL-TO-YOUR-WEAVIATE-CLUSTER
WEAVIATE_URL_VERBA=

# API-KEY-OF-YOUR-WEAVIATE-CLUSTER
WEAVIATE_API_KEY_VERBA=

# YOUR-OPENAI-KEY
OPENAI_API_KEY=

# YOUR-BASE-URL
OPENAI_BASE_URL=http://0.0.0.0:8000

# YOUR-COHERE-KEY
COHERE_API_KEY=

# YOUR-UNSTRUCTURED-KEY
UNSTRUCTURED_API_KEY=

# YOUR-GITHUB-TOKEN
GITHUB_TOKEN=

# YOUR-HUGGINGFACE-TOKEN
HF_TOKEN=

# ENABLE-LLAMA2?-(True or False)
LLAMA2-7B-CHAT-HF=