# Environment
.env
.env*

# Python
__pycache__
.python-version
*.egg-info
.ruff_cache
.pytest_cache

# Virtual environments
venv
.venv
venv*

# Build artifacts
dist
build

# Local data and config
data/
verba_config.json
*_secrets.json
cache.txt

# OS
.DS_Store

# Tools
.local
.cache
.verba
.vscode
ollama
text-generation-inference
test.py

todo.md