.env
.env*
__pycache__
.DS_Store
.pytest_cache
.python-version
*.egg-info
venv
venv*
dist
build
~
.local
.cache
.verba
.vscode
verba_config.json
text-generation-inference
test.py
cache.txt
.ruff_cache
*_secrets.json
ollama
