    weaviate-client==3.23.1
    python-dotenv==1.0.0
    openai==1.35.13
    wasabi==1.1.2
    fastapi==0.102.0
    langsmith==0.1.85
    langchain-openai==0.1.14
    langchain==0.2.7
    uvicorn[standard]==0.29.0
    click==8.1.7
    asyncio==3.4.3
    tiktoken==0.6.0
    requests==2.31.0
    pypdf==4.2.0
    python-docx==1.1.2