@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes popIn {
  0% {
    transform: scale(0.3);
  }

  60% {
    transform: scale(1.025);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes popInLate {
  0% {
    transform: scale(0);
  }

  40% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes popInMoreLate {
  0% {
    transform: scale(0);
  }

  60% {
    transform: scale(0);
  }

  75% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pressIn {
  0% {
    transform: scale(0.85);
    opacity: 0;
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-pop-in {
  animation: popIn 0.5s ease-out;
}

.animate-pop-in-late {
  animation: popInLate 0.5s ease-out;
}

.animate-pop-more-late {
  animation: popInMoreLate 0.9s ease-out;
}

.hover-container {
  transition: transform 0.2s ease-in-out;
}

.hover-container:hover {
  transform: scale(1.05);
}

.animate-press-in {
  animation: pressIn 0.6s ease-out;
}

.document-container {
  /* You've already set max-height, just ensure overflow is set */
  overflow-y: auto;
}

/* Setting the font-family to PT Mono for all markdown content */
.my-markdown-styles {
  font-family: "PT Mono", monospace;
  line-height: 1.6;
  /* Adjust line-height for better readability */
}

/* Headers */
.my-markdown-styles h1,
.my-markdown-styles h2,
.my-markdown-styles h3,
.my-markdown-styles h4,
.my-markdown-styles h5,
.my-markdown-styles h6 {
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.my-markdown-styles h1 {
  font-size: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.my-markdown-styles h2 {
  font-size: 1.75em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.my-markdown-styles h3 {
  font-size: 1.5em;
}

.my-markdown-styles h4 {
  font-size: 1.25em;
}

.my-markdown-styles h5 {
  font-size: 1.125em;
}

.my-markdown-styles h6 {
  font-size: 1em;
}

/* Blockquotes */
.my-markdown-styles blockquote {
  border-left: 4px solid #ddd;
  padding-left: 1em;
  color: #666;
  margin: 1em 0;
}

/* Inline code */
.my-markdown-styles code {
  background-color: #edebeb;
  color: rgb(44, 161, 58);
  border-radius: 3px;
  padding: 0.2em 0.4em;
}

/* Bold and italic */
.my-markdown-styles strong {
  font-weight: bold;
}

.my-markdown-styles em {
  font-style: italic;
}

/* Links */
.my-markdown-styles a {
  color: #007acc;
  text-decoration: none;
}

.my-markdown-styles a:hover {
  text-decoration: underline;
}

/* Lists */
.my-markdown-styles ul,
.my-markdown-styles ol {
  padding-left: 2em;
  margin: 1em 0;
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 5px;
  background-color: #333;
  border-radius: 50%;
  animation: dotBounce 1s infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes dotBounce {

  0%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-10px);
  }
}

.rounded-indicator {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.neon-text {
  background: linear-gradient(-45deg,
      #ff0000,
      #ff7f00,
      #ffff00,
      #00ff00,
      #00ffff,
      #0000ff,
      #8b00ff,
      #ff0000);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: neonGradient 10s ease infinite;
}

@keyframes neonGradient {
  0% {
    background-position: 25% 50%;
  }

  50% {
    background-position: 100% 75%;
  }

  100% {
    background-position: 25% 50%;
  }
}